{% extends "video/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% for video in rented_videos %}
                <div class="card-body">
                    <article class="media content-section">
{#                      TODO: Video image here#}
                      <div class="media-body">
                        <div class="article-metadata">
                          <a class="mr-2" href="#">{{ video.renter }}</a>
                          <small class="text-muted">{{ video.receive_date|date:"Y F d" }}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'video-detail' video.id %}">{{ video.title }}</a></h2>
                          <p class="article-content">Genre: {{ video.genre }}</p>
                          <p class="article-content">Duration: {{ video.duration }} minutes</p>
                      </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}